@import "tailwindcss";
@plugin "daisyui";

@keyframes slideDown {
  0% { transform: translateY(-10px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}
